
body {
    text-align: center;
    background-color: #333;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.square {
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    border: 3px solid #333;
    display: inline-block;
    border-radius: 20px;
}

.o {
    position: relative;
}

.o:after {
    position: absolute;
    content: "\1F436";
    font-size: 50px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;


}

.x {
    position: relative;
}

.x:after {
    position: absolute;
    content: "\1F431";
    font-size: 50px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}